.Cestas{
    width: 100%;
    padding: 10px;
}

.Cestas .TextoCestas{
    text-align: center;
}

.Cestas .Cartoes{
    padding: 10px 50px;
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
}

.Cestas .Cartoes .Cartao{
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow: #000 2px 2px 1px;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
    background-color: bisque;
    text-align: left;
}

.Cestas .Alimento{
    width: 50px;
}

.Cestas .Meses{
    font-weight: bold; 
    text-align: center;
}



/* 
.Cestas .Composicao{
    width: 100%;
}

.Cestas .Composicao .Trimestre{
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media (min-width: 600px){
    .Cestas {
        margin-bottom: 200px;
    }

    .Cestas .Composicao .Trimestre{
        padding: 10px 50px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

} */