.Footer{
	background-color: #90EE90;
	height: 55px;
	width: 1930px;
	position: absolute;
	bottom: -800px;
}
#gmail{
	height: 30px;
	width: 30px;
	position: relative;

}
p{
	position: relative;
}
#licen{
	position: absolute;
	text-align: center;
}
#insta{
	height: 40px;
	width: 40px;
	position: relative;
}
#face{
	height: 40px;
	width: 40px;
	position: relative;

}
