.Footer{
	background-color: #90EE90;
	height: 5%;
	width: 100%;
	position: absolute;
}
#gmail{
	height: 30px;
	position: relative;
	text-align: left;
	
}
p{
	position: relative;
}
#licen{
	position: absolute;
	text-align: center;
}
#insta{
	height: 30px;
	position: relative;
}
#face{
	height: 30px;
	position: relative;

}
