.Footer {
    /* background-color: #006600; */
    background-color: rgb(119, 3, 3);
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    /* bottom: 0;
    left: 0; */
    position: fixed;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 10px 20px;
    /* box-sizing: border-box; */
    
    z-index: 90;
}

.Bloco1{
    width: 33%;
}

.Bloco2{
    width: 33%;
}

.Bloco3{
    width: 33%;
    display: inline-block;
}

.FacebookLogo{
    width: 50px;
}

.EmailLogo{
    width: 50px;
}

.IfspLogo{
    width: 80px;
}

@media (min-width: 600px){
    .Footer {
        bottom: 0;
        left: 0;
    }
}